@model List<User>

@{
	ViewData["Title"] = "Admin";
	Login session = Login.GetSession();
}

<style>
	.icon-big {
		font-size: 1.5em;
	}
</style>

<h2>Welcome, @session.Username!</h2>
<hr />
<div class="container">
	<div class="row align-middle">
		<div class="col-6 p-0 mt-2">
			<h4>Dashboard</h4>
		</div>
		<div class="col-6">
			<a asp-action="Register" class="btn btn-outline-dark mt-3 float-end"><i class="bi bi-plus me-2"></i>Register new user</a>
		</div>
	</div>
</div>

<table class="table">
	<thead>
		<tr>
			<th>Username</th>
			<th>Admin</th>
			<th>Logged in</th>
			<th class=""></th>
		</tr>
	</thead>
<tbody>
		@foreach (User user in Model)
		{
			<tr class="align-middle">
				<td>@user.Username</td>
				@if(@user.IsAdmin)
				{
					<td><i class="bi bi-check2 icon-big text-success"></i></td>
				}
				else
				{
					<td><i class="bi bi-x icon-big text-danger"></i></td>
				}

				@if(@user.IsLoggedIn)
				{
					<td><i class="bi bi-check2 icon-big text-success"></i></td>
				}
				else
				{
					<td><i class="bi bi-x icon-big text-danger"></i></td>
				}
				<td>
					@if (user.IsLoggedIn)
					{
						<span class="disabled btn btn-dark"><i class="bi bi-pen me-2"></i>Edit</span>
						<span class="disabled btn btn-danger"><i class="bi bi-trash3 me-2"></i>Delete</span>
					}
					else
					{
						<a asp-action="Edit" asp-route-id="@user.Id" class="btn btn-dark"><i class="bi bi-pen me-2"></i>Edit</a>
						<a asp-action="Delete" asp-route-id="@user.Id" class="btn btn-danger"><i class="bi bi-trash3 me-2"></i>Delete</a>
					}
				</td>
			</tr>
		}
</table>